body {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

p.pg {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 5px;
  background: #CCC;
  padding: 10px;
  margin: 5px;
  vertical-align: top;
  overflow: hidden;
}

p.pg:hover {
  background: #999;
  cursor: pointer;
}

div.box {
  padding: 10px;
  z-index: 11;
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  background: #FFF;
  border-radius: 10px;
}

button.close{
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  background: #FFF;
  border: 1px solid #DDD;
  border-radius: 23px;
  height: 23px;
  width: 23px;
  cursor: pointer;
  outline: none;
}
